body {
    background: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.top-header {
    width: 100%;
    height: 150px;
    background: #0b2a4f;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
}

.nav-bar {
    width: 88%;
    height: 70px;
    background: white;
    margin: -40px auto 20px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.menu-icon { font-size: 24px; color: #0b2a4f; }
.profile { width: 45px; height: 45px; border-radius: 50%; }

.form-box {
    width: 88%;
    margin: auto;
}

label {
    font-size: 18px;
    font-weight: 600;
}

select {
    width: 100%;
    padding: 12px;
    border-radius: 15px;
    border: 2px solid #0b2a4f;
    margin-top: 8px;
    font-size: 16px;
}

.student-list {
    width: 88%;
    margin: 20px auto;
}

.student-card {
    width: 100%;
    background: #ffffff;
    border: 2px solid #0b2a4f;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.student-name {
    font-size: 18px;
    font-weight: 600;
}

.btn-group button {
    width: 80px;
    padding: 8px;
    border-radius: 12px;
    margin-left: 5px;
    border: none;
    color: white;
    font-weight: 600;
}

.present-btn { background: #1b8d3b; }
.absent-btn { background: #d9534f; }

.present-active { background: #146e2d !important; }
.absent-active { background: #b43c39 !important; }

.submit-btn {
    width: 88%;
    margin: 30px auto;
    background: #0b2a4f;
    color: white;
    padding: 18px;
    font-size: 20px;
    border-radius: 40px;
    border: none;
    display: block;
}
