.footer-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0 -5px 20px rgba(0,0,0,0.2);
    z-index: 999;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0b2a4f;
    font-size: 12px;
    cursor: pointer;
}

.nav-item img {
    width: 26px;
    height: 26px;
    margin-bottom: 4px;
}

.nav-item.active span,
.nav-item.active img {
    filter: brightness(0) saturate(100%) invert(19%) sepia(94%)
            saturate(2100%) hue-rotate(184deg) brightness(90%);
}
