/* MAIN PAGE SPACING */
.page-content {
    margin-top: 20px;
    padding-bottom: 40px;
}

/* WHITE ATTENDANCE BOX */
.attendance-container {
    width: 85%;
    height: 300px;
    background: #ffffff;
    margin: 30px auto;
    border-radius: 40px;
    border: 3px solid #0b2a4f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.attendance-title {
    font-size: 20px;
    font-weight: 600;
    color: #0b2a4f;
    margin-bottom: 10px;
}

.attendance-value {
    font-size: 48px;
    font-weight: 700;
    color: #0b2a4f;
}

/* FEATURE BOX STYLES */
.feature-box {
    width: 85%;
    height: 120px;
    background: #0b2a4f;
    border-radius: 40px;
    margin: 25px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.feature {
    width: 90px;
    height: 90px;
    background: white;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature img {
    width: 50px;
}

/* BOTTOM BUTTON */
.bottom-btn {
    width: 85%;
    height: 90px;
    background: #0b2a4f;
    border-radius: 45px;
    margin: 25px auto;
}

/* Attendance Card Styling */
.att-card {
    width: 85%;
    background: white;
    margin: 20px auto;
    padding: 18px;
    border-radius: 25px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.10);
}

.att-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.att-subject {
    font-size: 20px;
    font-weight: 600;
    color: #0b2a4f;
}

.att-percent {
    font-size: 20px;
    font-weight: 700;
    color: #0b2a4f;
}

.att-bar-bg {
    width: 100%;
    height: 10px;
    background: #e6e6e6;
    margin-top: 10px;
    border-radius: 10px;
}

.att-bar-fill {
    height: 10px;
    border-radius: 10px;
}

.green { background: #27ae60; }
.orange { background: #f39c12; }
.red { background: #e74c3c; }
